@model LoginTestWeb.Models.Employees

<script src="~/wwwroot/lib/jquery/dist/jquery.min.js"></script>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" asp-controller="Employee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpName" class="control-label"></label>
                <input asp-for="EmpName" class="form-control" />
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpSalary" class="control-label"></label>
                <input asp-for="EmpSalary" class="form-control" />
                <span asp-validation-for="EmpSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeptId" class="control-label"></label>
                <select asp-for="DeptId" class="form-control">
                    <option value=1>
                        IT
                    </option>
                    <option value=2>
                        HR
                    </option>
                    <option value=3>
                        Operations
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                <input asp-for="PhotoPath" class="form-control" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" id="btnSubmit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@*<script>
    $(document).ready(
        function () {
            $("btnSubmit").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Employee/Create",
                    data: {
                        EmpName: $("EmpName").val(),
                        EmpSalary: $("EmpSalary").val(),
                        DeptId: $("DeptId").val(),
                        PhotoPath: $("PhotoPath").val()
                    },
                    success: function () {
                        $("employeeModal").modal(hide);
                    }
                })
            })
        }
    )
</script>*@


